.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-abhaya {
  font-family: "Abhaya Libre", serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.page-width {
  width: 78.75rem;
}

.header-width {
  width: 67rem;
}

.header-banner {
  height: 68vh;
  width: 45vw;
}

.btn-grad {
  background-image: linear-gradient(84.75deg, #0074d1 0%, #d100d1 100%);
  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
  z-index: 1;
}

.btn-grad-reverse {
  background-image: linear-gradient(84.75deg, #d100d1 0%, #0074d1 100%);
}

.demand-marketing-img {
  height: 25rem;
  width: 25rem;
}

.tutorial {
  height: 25rem;
  width: 53rem;
}

.studio-img {
  height: 28.2rem;
  width: 31.1rem;
}

/* Slick Carousel */

#feedback > .slick-prev {
  position: absolute !important;
  top: 110% !important;
  left: 45% !important;
  z-index: 999;
}

#feedback > .slick-next {
  position: absolute !important;
  top: 110% !important;
  right: 48% !important;
  z-index: 999 !important;
}

#feedback > .slick-prev:before {
  font-family: "slick";
  content: url("./assets/Icons/arrow-left.svg") !important;
  padding: 7px 4px 7px 10px;
  margin: auto !important;
  opacity: 100%;
  border-radius: 100%;
  background-color: rgb(204, 203, 202) !important;
  line-height: 10 !important;
}

#feedback > .slick-next:before {
  font-family: "slick";
  content: url("./assets/Icons/arrow-right.svg") !important;
  /* color: black !important; */
  padding: 7px 4px 7px 10px;
  margin: auto !important;
  opacity: 100%;
  border-radius: 100%;
  background-color: rgb(204, 203, 202) !important;
  line-height: 10 !important;
}

#feedback > .slick-prev:hover::before {
  content: url("./assets/Icons/arrow-left-white.svg") !important;
  background-color: #151d48 !important;
}

#feedback > .slick-next:hover::before {
  content: url("./assets/Icons/arrow-right-white.svg") !important;
  background-color: #151d48 !important;
}

#feedback > .slick-dots {
  display: none !important;
}

#loginsection > .slick-dots li button::before {
  color: white !important;
  opacity: 1 !important;
  content: url("./assets/Icons/carousel-btn.svg") !important;
  /* margin: 0 auto; */
  /* margin:0 30px important; */
}

#loginsection > .slick-dots li.slick-active button:before {
  color: white !important;
  background-color: white !important;
  padding: 0 20px;
  height: 13px;
  border-radius: 500px;
  margin-top: 2px;
}

#loginsection > .slick-dots {
  bottom: 25px !important;
  left: 0px !important;
  width: 30% !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

/* For Login Page */
.login-banner {
  width: 33.2rem;
  height: 38.75rem;
}
