* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-abhaya {
  font-family: "Abhaya Libre", serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.page-width {
  width: 78.75rem;
}

.navbarsm-width {
  width: 52rem;
}

.header-width {
  width: 67rem;
}

.header-banner {
  height: 68vh;
  width: 45vw;
}

.btn-grad {
  cursor: pointer;
  color: white;
  background-image: linear-gradient(84.75deg, #0074d1 0%, #d100d1 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.7s ease-in-out;
}

.btn-grad:hover {
  background-image: linear-gradient(84.75deg, #d100d1 0%, #0074d1 100%);
  background-position: 0 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.7s ease-in-out;
}

/* .btn-grad-reverse {
  background-image: linear-gradient(84.75deg, #d100d1 0%, #0074d1 100%);
  transition: background-image 3s ease-in-out;
} */

.demand-marketing-img {
  height: 25rem;
  width: 25rem;
}

.tutorial {
  height: 25rem;
  width: 53rem;
}

.studio-img {
  height: 28.2rem;
  width: 31.1rem;
}

/* Slick Carousel */

.feedback > .slick-prev {
  position: absolute !important;
  top: 110% !important;
  left: 45% !important;
  z-index: 999;
}

.feedback > .slick-next {
  position: absolute !important;
  top: 110% !important;
  right: 48% !important;
  z-index: 999 !important;
}

.feedback > .slick-prev:before {
  font-family: "slick";
  content: url("./assets/Icons/arrow-left.svg") !important;
  padding: 7px 4px 7px 10px;
  margin: auto !important;
  opacity: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;
  line-height: 10 !important;
}

.feedback > .slick-next:before {
  font-family: "slick";
  content: url("./assets/Icons/arrow-right.svg") !important;
  padding: 7px 4px 7px 10px;
  margin: auto !important;
  opacity: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;
  line-height: 10 !important;
}

.feedback > .slick-prev:hover::before {
  content: url("./assets/Icons/arrow-left-white.svg") !important;
  background-color: #151d48 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
}

.feedback > .slick-next:hover::before {
  content: url("./assets/Icons/arrow-right-white.svg") !important;
  background-color: #151d48 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
}

/* For Login Page */

.cutom-carousel > .slick-dots li button::before {
  color: white !important;
  opacity: 1 !important;
  content: url("./assets/Icons/carousel-btn.svg") !important;
}

.cutom-carousel > .slick-dots li.slick-active button:before {
  color: white !important;
  background-color: white !important;
  padding: 0 20px;
  height: 13px;
  border-radius: 500px;
  margin-top: 2px;
  margin-left: -10px;
}

.cutom-carousel > .slick-dots {
  bottom: 1vh !important;
  left: 5px !important;
  width: 30% !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  width: 26rem;
}

.login-banner {
  /* max-width: 31.2rem; */
  max-width: 31.2rem;
  max-height: 38.75rem;
  /* max-height: 60vh; */
}

/* For Signup Page */

.signup-banner {
  width: 33.2rem;
  min-height: 100vh;
}

/* For cmpaigns */
.cmpaigns {
  height: calc(100vh - 20rem);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(208, 208, 208);
}

/* For Campaign Details */
.cmpaign-details-banner {
  max-width: 19.5rem !important;
}

.bidding-modal {
  background-color: "background: rgba(210, 43, 43, 0.29);";
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

/* For Modal */
.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 0 0 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 45vw;
  height: auto;
  /* background-color: #ffffff; */
  padding: 4rem;
  border-radius: 16px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.426);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.modal_header {
  position: relative;
}
.modal-title {
  text-align: center;
}

.creator-campaigns {
  height: calc(100vh - 20rem);
}

.drag-drop {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.pass-inpt {
  width: 15rem !important;
  border: none !important;
  outline: none !important;
  padding-left: 0 !important;
  color: rgba(51, 51, 51, 0.75) !important;
  border-bottom: 0.15px solid rgba(51, 51, 51, 0.25) !important;
  padding-right: 2rem;
}

.pass-inpt:active {
  outline: none !important;
}

[data-icon="eye-invisible"],
[data-icon="eye"] {
  color: black !important;
  width: 1.3rem !important;
  height: 1.3rem !important;
}

input[type="radio"]::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #151515;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

::-webkit-calendar-picker-indicator {
  background-image: url(./assets/Icons/calender.svg);
}

.avatar-bg {
  background-image: url(./assets/Images/avatar-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.rotate {
  animation: rotation 2s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 1080px) and (max-width: 1400px) {
  .creator-dashboard {
    margin-left: -16rem !important;
  }
}
