* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-abhaya {
  font-family: "Abhaya Libre", serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.page-width {
  width: 78.75rem;
}

.navbarsm-width {
  width: 52rem;
}

.header-width {
  width: 67rem;
}

.header-banner {
  height: 68vh;
  width: 45vw;
}

.btn-grad {
  background-image: linear-gradient(84.75deg, #0074d1 0%, #d100d1 100%);
  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
  z-index: 1;
}

.btn-grad-reverse {
  background-image: linear-gradient(84.75deg, #d100d1 0%, #0074d1 100%);
}

.demand-marketing-img {
  height: 25rem;
  width: 25rem;
}

.tutorial {
  height: 25rem;
  width: 53rem;
}

.studio-img {
  height: 28.2rem;
  width: 31.1rem;
}

/* Slick Carousel */

.feedback > .slick-prev {
  position: absolute !important;
  top: 110% !important;
  left: 45% !important;
  z-index: 999;
}

.feedback > .slick-next {
  position: absolute !important;
  top: 110% !important;
  right: 48% !important;
  z-index: 999 !important;
}

.feedback > .slick-prev:before {
  font-family: "slick";
  content: url("./assets/Icons/arrow-left.svg") !important;
  padding: 7px 4px 7px 10px;
  margin: auto !important;
  opacity: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;
  line-height: 10 !important;
}

.feedback > .slick-next:before {
  font-family: "slick";
  content: url("./assets/Icons/arrow-right.svg") !important;
  padding: 7px 4px 7px 10px;
  margin: auto !important;
  opacity: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;
  line-height: 10 !important;
}

.feedback > .slick-prev:hover::before {
  content: url("./assets/Icons/arrow-left-white.svg") !important;
  background-color: #151d48 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
}

.feedback > .slick-next:hover::before {
  content: url("./assets/Icons/arrow-right-white.svg") !important;
  background-color: #151d48 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
}

/* For Login Page */

.cutom-carousel > .slick-dots li button::before {
  color: white !important;
  opacity: 1 !important;
  content: url("./assets/Icons/carousel-btn.svg") !important;
}

.cutom-carousel > .slick-dots li.slick-active button:before {
  color: white !important;
  background-color: white !important;
  padding: 0 20px;
  height: 13px;
  border-radius: 500px;
  margin-top: 2px;
  margin-left: -10px;
}

.cutom-carousel > .slick-dots {
  bottom: 1vh !important;
  left: 5px !important;
  width: 30% !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  width: 26rem;
}

.login-banner {
  /* max-width: 31.2rem; */
  max-width: 31.2rem;
  max-height: 38.75rem;
  /* max-height: 60vh; */
}

/* For Signup Page */

.signup-banner {
  width: 33.2rem;
  min-height: 100vh;
}

/* For cmpaigns */
.cmpaigns {
  height: calc(100vh - 20rem);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(157, 157, 157);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 146, 146);
}

/* For Campaign Details */
.cmpaign-details-banner {
  max-width: 19.5rem !important;
}

.bidding-modal {
  background-color: "background: rgba(210, 43, 43, 0.29);";
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

/* For Modal */
.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 0 0 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 45vw;
  height: auto;
  /* background-color: #ffffff; */
  padding: 4rem;
  border-radius: 16px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.426);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.modal_header {
  position: relative;
}
.modal-title {
  text-align: center;
}

/* .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
} */
/* 
.modal_content {
  border-bottom: 1px solid #dddddd;
  padding: 2rem 0;
}

.modal_footer {
  padding: 2rem 0;
  padding-bottom: 0;
} */
/* 
.modal-close {
  background-color: transparent;
  font-weight: 600;
}
modal-close:hover {
  color: rgba(54, 67, 72, 0.8);
}

.submit {
  margin-right: 1rem;
  background-color: #364348;
  color: #fff;
}
.submit:hover {
  background-color: rgba(54, 67, 72, 0.8);
} */

.creator-campaigns {
  height: calc(100vh - 20rem);
}
